In [143]:
#获取该文件的编码格式函数，需要import chardet
import chardet
def get_encoding(file):
    with open(file, 'rb') as f:
        return chardet.detect(f.read())['encoding']
encoding=get_encoding('G:\\PracticeData\\val.txt')
print(encoding)

GB2312

In [168]:
import pandas as pd
import numpy
news = pd.read_csv('G:\\PracticeData\\news_tensite_xml.smarty.txt',header = None,encoding = 'GB18030')
# 分别读取url,content,contenttitle内容
url = []
content = []
contenttitle = []
news.shape

(1200, 1)

In [169]:
# 遍历所有行第0列,拿到数据加入对应的列表
for i in range(news.shape[0]):
    if '<contenttitle>' in news[0][i]:
        contenttitle.append(news[0][i])
    if '<url>' in news[0][i]:
        url.append(news[0][i])
    if '<content>' in news[0][i]:
        content.append(news[0][i])
news1= pd.DataFrame({'url':url,'contenttitle':contenttitle,'content':content})
print(news1.shape)
news1.tail(3)

(200, 3)

,url,contenttitle,content
197,<url>http://news.cn.yahoo.com/ypen/20120612/11...,<contenttitle>“走婚族”悄然兴起 六成网友称能接受</contenttitle>,<content>虽然结婚，却没有共同住所，平日各回各家，节假日才聚到一起——网友们把这样的...
198,<url>http://news.cn.yahoo.com/newspic/news/692...,<contenttitle>全国掀起扫黄风暴 涉黄场所天上落人间</contenttitle>,<content>中国雅虎侠客平台仅提供信息存储空间服务，其内容均由上网用户提供。中国雅虎提...
199,<url>http://news.cn.yahoo.com/ypen/20120613/11...,<contenttitle>缅甸若开邦骚乱局势总体得到控制</contenttitle>,<content>新华网仰光６月１２日电（记者张云飞）实行紧急状态的缅甸西部若开邦１２日虽然...

In [33]:
#去掉前后标签
new_contenttitle = []
new_content = []
new_url = []
for i in range(len(url)):
    new_contenttitle.append(contenttitle[i].split('>')[1].split('<')[0])
    new_url.append(url[i].split('>')[1].split('<')[0])
    new_content.append(content[i].split('>')[1].split('<')[0])
new_news = pd.DataFrame({'url':new_url,'contenttitle':new_contenttitle,'content':new_content})
new_news.head()

,url,contenttitle,content
0,http://news.sohu.com/20120612/n345428229.shtml,公安机关销毁１０余万非法枪支 跨国武器走私渐起,中广网唐山６月１２日消息（记者汤一亮 庄胜春）据中国之声《新闻晚高峰》报道，今天（１２日）上...
1,http://news.sohu.com/20120607/n344998325.shtml,张绍刚发道歉信网友不认可：他的问题是俯视他人（图）,天津卫视求职节目《非你莫属》“晕倒门”事件余波未了，主持人张绍刚前日通过《非你莫属》节目组发...
2,http://news.sohu.com/20120604/n344745879.shtml,＃（关注夏收）（３）夫妻“麦客”忙麦收,临沂（山东），２０１２年６月４日 夫妻“麦客”忙麦收 ６月４日，在山东省临沂市郯城县郯城街道...
3,http://news.sohu.com/20120613/n345535702.shtml,欧洲杯大战在即 荷兰葡萄牙面临淘汰将背水一战,中广网北京６月１３日消息（记者王宇）据中国之声《新闻晚高峰》报道，明天凌晨两场欧洲杯的精彩比...
4,http://news.sohu.com/20120601/n344598651.shtml,扎克伯格携妻罗马当街吃３０元麦当劳午餐（组图）,环球网记者李亮报道，正在意大利度蜜月的“脸谱”创始人扎克伯格与他华裔妻子的一举一动都处于媒体...

In [95]:
content=new_news.content.values.tolist()#转换为list
print(content[799])

新华网仰光６月１２日电（记者张云飞）实行紧急状态的缅甸西部若开邦１２日虽然仍有零星骚乱发生，但局势总体已得到控制。据官方最新统计，自８日在若开邦孟都等地区实行宵禁至１１日，共有２１人在骚乱中死亡，２１人受伤，１６６２间房屋被烧。１２日上午，位于若开邦首府实兑的纳西市场遭纵火。此外，实兑附近农村也有几处房屋被烧。军警在努力恢复当地秩序的同时，还为临时救助站的难民提供救济物资。目前，在孟都和布帝洞地区共有８个临时救助站，其中有两处专门用来安置穆斯林难民。此次骚乱的直接原因是近日发生的两起杀人案，激化了不同民族和宗教之间的对立。缅甸中央政府已于６日成立专门调查委员会，并从８日开始在若开邦部分地区实行宵禁，白天则禁止５人以上在公共场合集会。１０日，缅甸总统吴登盛签署法令宣布在若开邦立即实行紧急状态，以防止骚乱事态进一步扩大蔓延。

In [62]:
#对每一篇新闻进行分词，并将每一篇分好词的新闻放进DataFrame结构中
content_word=[]
for line in content:
    current_segment=jieba.lcut(line)#对每一篇新闻进行分词
    if len(current_segment)>1 and current_segment!='\r\n':
        content_word.append(current_segment)
#content_word[len(content_word)-1]#输出最后一篇新闻的分词
df_content=pd.DataFrame({'content_word':content_word})#构造dataframe数据
df_content.head()

                                        content_word
0  [中广网, 唐山, ６, 月, １, ２, 日, 消息, （, 记者, 汤一亮, 　, 庄胜...
1  [天津, 卫视, 求职, 节目, 《, 非你莫属, 》, “, 晕倒, 门, ”, 事件, ...
2  [临沂, （, 山东, ）, ，, ２, ０, １, ２, 年, ６, 月, ４, 日, 　...
3  [中广网, 北京, ６, 月, １, ３, 日, 消息, （, 记者, 王宇, ）, 据, ...
4  [环球网, 记者, 李亮, 报道, ，, 正在, 意大利, 度蜜月, 的, “, 脸谱, ”...

In [82]:
#读取停止词，可根据需求适量增加，同样使用panda展示出来 ，这里取样为前20个
stopwords=pd.read_table('G:/PracticeData/stopwords.txt',index_col=False,sep='\n',quoting=3,encoding='GB18030',names=['stopwords'])
#stopwords.head(20)

In [83]:
def drop_stopwords(df_content,stopwords):
    content_clean=[]
    all_words=[]
    for line in df_content:
        line_clean=[]
        for word in line:
            if word in stopwords:
                continue
            line_clean.append(word)
            all_words.append(str(word))
        content_clean.append(line_clean)
    return content_clean,all_words
contents =df_content.content_word.values.tolist()
stopwords=stopwords.stopwords.values.tolist()
contents_clean,all_words=drop_stopwords(contents, stopwords)

df_content2=pd.DataFrame({'content_clean':contents_clean})
df_content2.head()

                                       content_clean
0  [中广网, 唐山, 月, 日, 消息, 记者, 汤一亮, 庄胜春, 中国, 之声, 新闻, ...
1  [天津, 卫视, 求职, 节目, 非你莫属, 晕倒, 门, 事件, 余波, 未了, 主持人,...
2  [临沂, 山东, 年, 月, 日, 夫妻, 麦客, 忙, 麦收, 月, 日, 山东省, 临沂...
3  [中广网, 北京, 月, 日, 消息, 记者, 王宇, 中国, 之声, 新闻, 晚, 高峰,...
4  [环球网, 记者, 李亮, 报道, 意大利, 度蜜月, 脸谱, 创始人, 扎克, 伯格, 华...

In [89]:
#drop停止词后，可视化显示所有的词，然后根据这些词进行分组统计，查看每一词在文章中出现的次数
df_all_words=pd.DataFrame({'all_words':all_words})
df_all_words.head()

  all_words
0       中广网
1        唐山
2         月
3         日
4        消息

In [94]:
words_count=df_all_words.groupby(by=['all_words'])['all_words'].agg({'count': numpy.size})
words_count=words_count.reset_index().sort_values( by=['count'],ascending=False)
words_count.head(10)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  """Entry point for launching an IPython kernel.

     all_words  count
8345            3332
4680         月   1016
4513         日    836
3363         年    608
449         中国    584
7842        银行    528
7065        记者    524
3968        投资    504
435          中    480
7152         说    444

In [116]:
#调用jieba.analyse.extract_tags函数，提取出关键词
from jieba.analyse import *
data=new_news['content'][0]
#使用TF-idf（词频-逆文档频率）方式提取关键词和权重
for keyword,weight in extract_tags(data,topK=5,withWeight=True):
    print(keyword,weight)
print()
for keyword,weight in textrank(new_news['content'][500],topK=5,withWeight=True):
    print(keyword,weight)

枪支 0.2766975807191223
犯罪 0.2107448868282181
销毁 0.16950587698047873
非法 0.11831675845260638
公安部 0.11695122577234042

前男友 1.0
女生 0.8013257402887618
艳照 0.6280137178325393
美院 0.6087881283015308
四川 0.6049701287263769

In [140]:
import jieba.analyse
#print(df_content['content_word'][50])
df_content_str="".join(df_content['content_word'][50])
#print(df_content_str)
for keyword,weight in jieba.analyse.extract_tags(df_content_str,topK=5,withWeight=True):
    print(keyword,weight)

大连 0.2459714926525
新区 0.22365931279091605
东北亚 0.17156086224990458
国家级 0.14072921084937026
开放 0.11328130711683207